.App {
  background-color: #94a9d4;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  color: white;
  text-align: center;
}

.ab-testing {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.article-teaser {
  display: flex;
  justify-content: center;
  margin: 16px;
}
